
a {
   text-decoration: none !important;

}
/=============== HEADER & NAV ===============/
.nathan {
  display: flex;
}
.header {
  width: 10%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /For animation dark mode/
  transition: .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, 
.nav__toggle, 
.nav__shop, 
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle, 
.nav__shop {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav-list {
   text-decoration: none !important;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: .3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: .9rem;
  right: 1.25rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/=============== BREAKPOINTS ===============/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .home__img-bg {
    width: 220px;
  }
  .home__title {
    font-size: var(--h1-font-size);
  }
  .home__button {
    font-size: var(--smaller-font-size);
  }

  .story__square,
  .story__img,
  .testimonial__square,
  .testimonial__img {
    width: 180px;
  }

  .story__square,
  .testimonial__square {
    height: 180px;
  }

  .products__container {
    grid-template-columns: repeat(1, 180px);
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__img-bg {
    width: 340px;
  }

  .featured__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 8rem 0 1rem;
  }

  .cart {
    width: 420px;
    box-shadow: -2px 0 4px hsla(0, 0%, 15%, .1);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    justify-content: initial;
    column-gap: 3rem;
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .nav__link {
    text-transform: initial;
    font-size: var(--normal-font-size);
  }
  .nav__btns {
    margin-left: auto;
  }

  .home__container {
    padding-top: 6rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }
  .home__img-bg {
    order: 1;
    transform: translate(1.5rem, -6rem);
  }
  .home__data {
    padding: 0 0 3rem 6rem;
  }
  .home__social {
    top: 47%;
    column-gap: 2rem;
  }

  .featured__title,
  .featured__price,
  .new__title,
  .new__price {
    font-size: var(--normal-font-size);
  }

  .story__container,
  .testimonial__container,
  .newsletter__bg {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .story__section-title {
    text-align: initial;
  }
  .story__section-title::before {
    margin: initial;
  }
  .story__images {
    order: -1;
  }

  .products__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 2.5rem;
  }
  .products__card {
    padding: 2rem 0;
  }
  .products__img {
    height: 155px;
  }

  .newsletter__bg {
    text-align: initial;
    column-gap: 2rem;
    padding: 4.5rem;
  }
  .newsletter__subscribe {
    flex-direction: row;
  }
  .newsletter__input {
    width: 100%;
  }

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer__title {
    font-size: var(--h3-font-size);
  }
}

@media screen and (min-width: 992px) {
  .section__title {
    font-size: var(--h2-font-size);
  }

  .home__container {
    column-gap: 2rem;
  }
  .home__img-bg {
    width: 480px;
    height: 680px;
  }
  .home__img {
    width: 420px;
  }
  .home__social {
    left: -6rem;
  }
  .home__data {
    padding: 0 0 8rem 6rem;
  }

  .featured__container {
    grid-template-columns: repeat(3, 312px);
    padding-top: 2rem;
  }
  
  .story__container,
  .testimonial__container {
    column-gap: 8rem;
  }

  .story__square,
  .story__img,
  .testimonial__square,
  .testimonial__img {
    width: 450px;
  }

  .story__square,
  .testimonial__square {
    height: 450px;
  }

  .products__container,
  .new__container {
    padding-top: 2rem;
  }

  .testimonial__container {
    padding-bottom: 4rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  .story__container,
  .testimonial__container {
    column-gap: 13rem;
  }

  .story__container {
    padding-top: 3rem;
  }
  .story__img {
    left: 5rem;
    top: -5rem;
  }

  .testimonial__img {
    right: 5rem;
    top: 5rem;
  }

  .scrollup {
    right: 3rem;
  }
}