@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

$very-small: 360px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1600px;

a {
  text-decoration: none;
}

.btn-primary {
  padding: 16px 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: #ffb703;
  box-shadow: 1px 51px 24px -35px rgba(255, 229, 137, 0.75) !important;
  border-radius: 8px;
  border-color: transparent;
  transition: box-shadow 0.5s;

  &:hover {
    background: #ffb703;
    border-color: transparent;
    box-shadow: 0px 2px px rgba(255, 182, 0, 0.25);
  }
  &:active {
    background: #2b9348;
    transition: 0.2s;
    box-shadow: 0 0.025em 0.125em rgba(255, 182, 0, 0.25);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  &:focus {
    background: #ffb703;
  }
}

.navbar {
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.59);
}

.navbar-collapse {
  .btn {
    padding: 10px 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .btn-daftar {
    background: #ffb703;
    box-shadow: 0px 6px 10px rgba(255, 182, 0, 0.25);
    border-radius: 8px;
    transition: box-shadow 0.5s;
    &:hover {
      box-shadow: 0px 2px 5px rgba(255, 182, 0, 0.25);
    }
    &:active {
      background: #2b9348;
      transition: 0.2s;
      box-shadow: 0 0.025em 0.125em rgba(255, 182, 0, 0.25);
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
    }
  }

  .nav-item {
    .nav-link {
      padding: 0 14px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 19px;
      color: #00296b;
      transition: 0.2s;
      &:hover {
        color: #00296b;
      }

      &::after {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        width: 0;
        height: 2px;
        background-color: #ffb703;
        content: "";
        opacity: 0;
        transition: width 0.6s;
        -webkit-transition: width 0.6s;
        -moz-transition: width 0.6s;
        -ms-transition: width 0.6s;
        -o-transition: width 0.6s;
      }

      &:hover::after,
      &:focus::after,
      &:focus {
        opacity: 1;
        width: 100%;
        color: #ffb703;
      }
    }
  }

  a {
    text-decoration: none;
    color: #00296b;
  }

  .user-photo {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-left: 10px;
  }
}

@media screen and (max-width: $small) {
  .navbar-collapse {
    .nav-link {
      margin-bottom: 24px;
      text-align: center;

      &::after {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        width: 0;
        height: 2px;
        background-color: #ffb703;
        content: "";
        opacity: 0;
        transition: width 0.6s;
        -webkit-transition: width 0.6s;
        -moz-transition: width 0.6s;
        -ms-transition: width 0.6s;
        -o-transition: width 0.6s;
      }

      &:hover::after,
      &:focus::after,
      &:focus {
        opacity: 0;
        width: 25%;
        color: #ffb703;
      }
    }

    .btn {
      width: 100% !important;
    }

    .btn-outline-success {
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: $large) {
  .navbar-collapse {
    .nav-link {
      margin-bottom: 24px;
      text-align: center;

      &::after {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        width: 0;
        height: 2px;
        background-color: #ffb703;
        content: "";
        opacity: 0;
        transition: width 0.6s;
        -webkit-transition: width 0.6s;
        -moz-transition: width 0.6s;
        -ms-transition: width 0.6s;
        -o-transition: width 0.6s;
      }

      &:hover::after,
      &:focus::after,
      &:focus {
        opacity: 0;
        width: 25%;
        color: #ffb703;
      }
    }

    .btn {
      width: 49%;
    }
  }
}

/* Detail Page */
.breadcrumb {
  margin-top: 120px;

  .breadcrumb-item {
    color: #146356;

    a {
      color: #146356;
      text-decoration: none;
    }
  }
}

.content {
  .container {
    .title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 24px;
      color: #146356;
    }

    .picture {
      img {
        height: 500px;
        margin-top: 40px;
      }
    }

    .description {
      min-width: auto;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      display: flex;
      align-items: center;
      color: #00296b;

      p {
        margin-top: 40px;
      }
    }
  }
}

/* Edukasi Page */
.container {
  .title {
    margin-top: 120px;
    margin-bottom: 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;

    h1 {
      color: #146356;
    }
  }

  /* Card Section */
  .row {
    .picture {
      object-fit: cover;
      max-width: 300px !important;
      max-height: 200px;
      border-radius: 50px 10px;
      border: 1px solid #a6f1bb;
    }

    .col-9 {
      padding-left: 40px;

      h2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #00296b;
      }
    }
  }
}

@media screen and (min-width: $large) {
  .col-md-12 {
    .row {
      .col-9 {
        padding-left: 60px !important;
      }

      .picture {
        max-width: 250px !important;
        max-height: 250px;
      }

      .title-item {
        margin-top: 24px;
        text-align: left !important;
      }
    }
  }
}

@media screen and (min-width: $small) {
  .col-md-12 {
    .row {
      .picture {
        max-width: none;
        max-height: 400px !important;
      }

      .title-item {
        margin-top: 24px;
        text-align: center;
      }
    }
  }

  @media screen and (min-width: $very-small) {
    .col-md-12 {
      .row {
        .picture {
          max-width: none;
          max-height: 250px;
        }

        .title-item {
          margin-top: 24px;
          text-align: center;
        }
      }
    }
  }
}

/* Landing Page section */
.banner {
  background-image: url(../img/background.png);
  background-size: cover;
  min-height: 720px;
  border-radius: 0 0 50px 50px;
  -webkit-border-radius: 0 0 50px 50px;
  -moz-border-radius: 0 0 50px 50px;
  -ms-border-radius: 0 0 50px 50px;
  -o-border-radius: 0 0 50px 50px;

  .container {
    .row {
      .col-lg-11 {
        .row {
          margin-top: 210px;

          .copywriting {
            .header {
              font-family: "Merriweather";
              font-style: normal;
              font-weight: 700;
              font-size: 64px;
              line-height: 80px;
              display: flex;
              align-items: center;
              letter-spacing: 0.01em;
              /* Dark Green */

              color: #146356;
            }

            .support {
              margin-top: 12px;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              /* or 150% */

              display: flex;
              align-items: center;
              letter-spacing: 0.01em;

              /* Line Stroke */

              color: #e5ebf1;
            }
          }

          .img-fluid {
            width: 100%;
          }
        }
      }
    }
  }
}

.benefits {
  .container {
    .row {
      .primary-header {
        text-transform: uppercase;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        margin-top: 80px;
        /* identical to box height, or 80% */

        /* Dark Blue */

        color: #00296b;
      }
    }
  }
}
