@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
a {
  text-decoration: none;
}

.btn-pertama {
  padding: 16px 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: #ffb703;
  -webkit-box-shadow: 1px 51px 24px -35px rgba(255, 229, 137, 0.75) !important;
          box-shadow: 1px 51px 24px -35px rgba(255, 229, 137, 0.75) !important;
  border-radius: 8px;
  border-color: transparent;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  color: white;
}

.btn-pertama:hover {
  background: #ffb703;
  border-color: transparent;
  -webkit-box-shadow: 0px 2px px rgba(255, 183, 0, 0.25);
          box-shadow: 0px 2px px rgba(255, 183, 0, 0.25);
  color: white;
}

.btn-pertama:active {
  background: #2b9348;
  transition: 0.2s;
  -webkit-box-shadow: 0 0.025em 0.125em rgba(255, 182, 0, 0.25);
          box-shadow: 0 0.025em 0.125em rgba(255, 182, 0, 0.25);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.navbar {
  background: rgba(255, 255, 255, 0.37);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.59);
}

.navbar-collapse .btn {
  padding: 10px 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.navbar-collapse .btn-daftar {
  background: #ffb703;
  -webkit-box-shadow: 0px 6px 10px rgba(255, 182, 0, 0.25);
          box-shadow: 0px 6px 10px rgba(255, 182, 0, 0.25);
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.navbar-collapse .btn-daftar:hover {
  -webkit-box-shadow: 0px 2px 5px rgba(255, 182, 0, 0.25);
          box-shadow: 0px 2px 5px rgba(255, 182, 0, 0.25);
}

.navbar-collapse .btn-daftar:active {
  background: #2b9348;
  transition: 0.2s;
  -webkit-box-shadow: 0 0.025em 0.125em rgba(255, 182, 0, 0.25);
          box-shadow: 0 0.025em 0.125em rgba(255, 182, 0, 0.25);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.navbar-collapse .nav-item .nav-link {
  padding: 0 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  color: #00296b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-collapse .nav-item .nav-link:hover {
  color: #00296b;
}

.navbar-collapse .nav-item .nav-link::after {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 0;
  height: 2px;
  background-color: #ffb703;
  content: "";
  opacity: 0;
  transition: width 0.6s;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  -ms-transition: width 0.6s;
  -o-transition: width 0.6s;
}

.navbar-collapse .nav-item .nav-link:hover::after, .navbar-collapse .nav-item .nav-link:focus::after, .navbar-collapse .nav-item .nav-link:focus {
  opacity: 1;
  width: 100%;
  color: #ffb703;
}

.navbar-collapse a {
  text-decoration: none;
  color: #00296b;
}

.navbar-collapse .user-photo {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-left: 10px;
}

@media screen and (max-width: 576px) {
  .navbar-collapse .nav-link {
    margin-bottom: 24px;
    text-align: center;
  }
  .navbar-collapse .nav-link::after {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background-color: #ffb703;
    content: "";
    opacity: 0;
    transition: width 0.6s;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6s;
    -ms-transition: width 0.6s;
    -o-transition: width 0.6s;
  }
  .navbar-collapse .nav-link:hover::after, .navbar-collapse .nav-link:focus::after, .navbar-collapse .nav-link:focus {
    opacity: 0;
    width: 25%;
    color: #ffb703;
  }
  .navbar-collapse .btn {
    width: 100% !important;
  }
  .navbar-collapse .btn-outline-success {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 992px) {
  .navbar-collapse .nav-link {
    margin-bottom: 24px;
    text-align: center;
  }
  .navbar-collapse .nav-link::after {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background-color: #ffb703;
    content: "";
    opacity: 0;
    transition: width 0.6s;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6s;
    -ms-transition: width 0.6s;
    -o-transition: width 0.6s;
  }
  .navbar-collapse .nav-link:hover::after, .navbar-collapse .nav-link:focus::after, .navbar-collapse .nav-link:focus {
    opacity: 0;
    width: 25%;
    color: #ffb703;
  }
  .navbar-collapse .btn {
    width: 49%;
  }
}

/* Detail Page */
.breadcrumb {
  margin-top: 120px;
}

.breadcrumb .breadcrumb-item {
  color: #146356;
}

.breadcrumb .breadcrumb-item a {
  color: #146356;
  text-decoration: none;
}

.content .container .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  color: #146356;
}

.content .container .picture img {
  height: 500px;
  margin-top: 40px;
}

.content .container .description {
  min-width: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00296b;
}

.content .container .description p {
  margin-top: 40px;
}

/* Edukasi Page */
.container {
  /* Card Section */
}

.container .title {
  margin-top: 120px;
  margin-bottom: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container .title h1 {
  color: #146356;
}

.container .row .picture {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 300px !important;
  max-height: 200px;
  border-radius: 50px 10px;
  border: 1px solid #a6f1bb;
}

.container .row .col-9 {
  padding-left: 40px;
}

.container .row .col-9 h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #00296b;
}

@media screen and (min-width: 992px) {
  .col-md-12 .row .col-9 {
    padding-left: 60px !important;
  }
  .col-md-12 .row .picture {
    max-width: 250px !important;
    max-height: 250px;
  }
  .col-md-12 .row .title-item {
    margin-top: 24px;
    text-align: left !important;
  }
}

@media screen and (min-width: 576px) {
  .col-md-12 .row .picture {
    max-width: none;
    max-height: 400px !important;
  }
  .col-md-12 .row .title-item {
    margin-top: 24px;
    text-align: center;
  }
}

@media screen and (min-width: 576px) and (min-width: 360px) {
  .col-md-12 .row .picture {
    max-width: none;
    max-height: 250px;
  }
  .col-md-12 .row .title-item {
    margin-top: 24px;
    text-align: center;
  }
}

/* Landing Page section */
.banner {
  background-image: url(../img/background.png);
  background-size: cover;
  min-height: 720px;
  border-radius: 0 0 50px 50px;
  -webkit-border-radius: 0 0 50px 50px;
  -moz-border-radius: 0 0 50px 50px;
  -ms-border-radius: 0 0 50px 50px;
  -o-border-radius: 0 0 50px 50px;
}

.banner .container .row .col-lg-11 .row {
  margin-top: 210px;
}

.banner .container .row .col-lg-11 .row .copywriting .header {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.01em;
  /* Dark Green */
  color: #146356;
}

.banner .container .row .col-lg-11 .row .copywriting .support {
  margin-top: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.01em;
  /* Line Stroke */
  color: #e5ebf1;
}

.banner .container .row .col-lg-11 .row .img-fluid {
  width: 100%;
}

.content-card .container .row .primary-header {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  margin-top: 80px;
  /* identical to box height, or 80% */
  /* Dark Blue */
  color: #00296b;
}

.content-card .container .card {
  -webkit-box-shadow: -1px 20px 41px 17px rgba(143, 173, 200, 0.14);
          box-shadow: -1px 20px 41px 17px rgba(143, 173, 200, 0.14);
  min-height: 350px;
  border-radius: 4px 50px;
  border-color: white !important;
  font-family: "Roboto";
}

.content-card .container .card .card-title {
  margin-top: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 24px;
  /* or 25% */
  letter-spacing: 0.01em;
  /* purple */
  color: #a865c9;
}

.content-card .container .card .card-title h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  /* or 25% */
  letter-spacing: 0.01em;
}

.content-card .container .card .card-body .card-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #00296b;
}

.content-card .container .card .card-body .card-subhead {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #00296b;
}

.content-card .container .card .card-body p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  /* Text */
  color: #8fadc8;
}

.content {
  margin-top: 120px;
}

.content .item-step {
  margin-top: 80px;
}

.content .item-step .copywriting .primary-header {
  color: #00296b;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 20px;
}

.content .item-step .copywriting .support {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* Text */
  color: #8fadc8;
}

.content img {
  width: 400px;
}

/* Carousel Card Section */
.card-slider {
  background-color: #f2f7fb;
}

.card-slider .container {
  max-height: 500px;
}

.card-slider .container .primary-header {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  margin-top: 80px;
  /* identical to box height, or 80% */
  /* Dark Blue */
  color: #00296b;
}

.card-slider .container .card {
  -webkit-box-shadow: -1px 20px 41px 17px rgba(143, 173, 200, 0.14);
          box-shadow: -1px 20px 41px 17px rgba(143, 173, 200, 0.14);
  min-height: 350px;
  border-radius: 4px 50px;
  border-color: white !important;
  font-family: "Roboto";
  width: 300px;
}

.card-slider .container .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 190px;
  border-radius: 2px 40px !important;
  padding: 16px;
}

.card-slider .container .card .card-body .card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #00296b;
}

.card-slider .container .card .card-body .btn-outline-success {
  border-radius: 8px 8px 8px 30px;
}

.card-slider .container .card .card-body p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  /* Text */
  color: #8fadc8;
}

/* Commnet section */
.comment .container {
  width: 1140px;
  margin: 3rem auto;
}

.comment .container .comment_container {
  position: relative;
}

.comment .container .comment_container::before {
  content: "";
  background-color: #8fadc8;
  position: absolute;
  min-height: 100%;
  width: 1px;
  left: -10px;
}

.comment .container .comment_container:not(:first-child) {
  margin-left: 3rem;
  margin-top: 1rem;
}

.comment .container .comment_container .comment_card {
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  min-width: 100%;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.comment .container .comment_container .comment_card h3,
.comment .container .comment_container .comment_card p {
  margin-bottom: 1rem;
}

.comment .container .comment_container .comment_card .comment_card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.85rem;
  opacity: 0.6;
  gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment .container .comment_container .comment_card .comment_card-footer .show-replies {
  cursor: pointer;
}

/* Section Newsletter */
.newsletter {
  margin: 80px auto;
}

.newsletter .newsletter_bg {
  background-color: #2b9348;
  padding: 3rem 1.5rem;
  text-align: center;
  row-gap: 2.5rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.newsletter .newsletter_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* White */
  color: #ffffff;
}

.newsletter .newsletter_description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* White */
  color: #ffffff;
}

.newsletter .newsletter_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.75rem;
}

.newsletter .newsletter_subscribe .newsletter_input {
  border: none;
  outline: none;
  background-color: #f0f0f0;
  padding: 1.25rem 1rem !important;
  color: #262626;
}

.newsletter .newsletter_subscribe .btn-subscribe {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase !important;
  height: 60px !important;
  color: white;
  background-color: #ffb703;
  border: none;
  border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
}
/*# sourceMappingURL=main.css.map */